.container {
  background-image:url('../public/background.jpg') ;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.main {
  min-height: 87vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  width: 100%;
  flex: 1;
  padding: 2rem 0;
  color:#fefefe;
  background-color:#263238;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: aliceblue;
  font-family: Georgia, serif;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #050505;
  text-decoration: none;
  border: 1px solid #050505;
  border-radius: 10px;
  background-image: radial-gradient(circle, #a599f9, #ea8fda, #ff91b1, #ffa38c, #fbbd79);
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color:brown;
  border-color: #a1a4a7;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.elli {
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.round_1 {
  width: 28%;
  margin: 0 auto;
  font-size: 24px;
  color: #fefefe;
  height: 70px;
  background: rgb(235,163,163);
  background: radial-gradient(circle, rgba(235,163,163,1) 10%, rgba(44,250,248,1) 100%, rgba(226,210,214,1) 100%);
  display: block;
  text-align: center;
  border-radius: 60px;
  padding-top: 12px;
  position: relative;
  top: -35px;
}
.imageHolder{
  width: 88%;
  margin-top: 14px;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
